.wmentity-overview-filter-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    border: 1px solid rgba(216, 217, 224, 0.8);
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wmentity-overview-filter-form .form-item {
    /* LTR */
    margin-top: 0.75rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
}

[dir="rtl"] .wmentity-overview-filter-form .form-item {
    margin-right: 0;
    margin-left: 0.5rem;
}

.wmentity-overview-filter-form .form-item:last-child {
    /* LTR */
    margin-right: 1rem;
}

[dir="rtl"] .wmentity-overview-filter-form .form-item:last-child {
    margin-right: 0;
    margin-left: 1rem;
}

.wmentity-overview-filter-form .form-item .claro-autocomplete {
    width: auto;
}

.wmentity-overview-filter-form__actions .button {
    margin-bottom: 0;
}

.wmentity-overview-filter-form__actions .button:last-child {
    margin-right: 0;
}

[dir="rtl"] .wmentity-overview-filter-form__actions:last-child {
    margin-left: 0;
}

/** Give checkboxes the same padding as other form elements in Claro / Gin */
.wmentity-overview-filter-form .form-type--checkbox {
    padding: calc(0.75rem - 1px) calc(1rem - 1px);
}
