/* Source: https://codepen.io/cbracco/pen/nufHz */

[data-tooltip-target] {
    display: block;
    cursor: help;
}

[data-tooltip] {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    line-height: 1.2;
    position: relative;
    border-radius: 4px;
}

[data-tooltip][data-show] {
    display: block;
}

[data-tooltip]:not([data-show]) {
    position: absolute;
    top: -99999px;
    left: -99999px;
}

[data-tooltip],
[data-popper-arrow] {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out;
    -moz-transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out;
    transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out;
}

[data-tooltip][data-show],
[data-tooltip][data-show] > [data-popper-arrow] {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

[data-popper-arrow],
[data-popper-arrow]::before {
    display: block;
    width: 8px;
    height: 8px;
    z-index: -1;
}

[data-popper-arrow]::before {
    content: '';
    transform: rotate(45deg);
    background-color: #000;
}

[data-tooltip][data-popper-placement^='top'] > [data-popper-arrow] {
    bottom: -4px;
}

[data-tooltip][data-popper-placement^='bottom'] > [data-popper-arrow] {
    top: -4px;
}

[data-tooltip][data-popper-placement^='left'] > [data-popper-arrow] {
    right: -4px;
}

[data-tooltip][data-popper-placement^='right'] > [data-popper-arrow] {
    left: -4px;
}
